@use '../../../assets/themes/colors';

.insights {
  &_header {
    height: 60px;
    width: 100%;
    border: 1px solid colors.$black;
    padding: 0px 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.chart {
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 8px;

  // display: flex;
  // flex-direction: column;
  // width: 100%;

  &_chart {
    border: 1px solid colors.$gallery_solid;
    border-radius: 8px;
    display: block;
    margin: 10px 0px;
  }

  &_header {
    display: flex;
    border-bottom: 1px solid colors.$gallery_solid;
    flex-flow: row wrap;
    min-height: 60px;
    align-items: center;
    padding: 5px 5px;


    &__title {
      font-size: 14px;
      font-weight: 900;
      margin: 0px;
      color: colors.$black;
      padding: 0px 0px 4px 0px;
    }

    &__sales {
      font-size: 12px;
      margin: 0px;
      color: colors.$dove_grey;
    }

    &__daterange {
      height: 40px;
      font-size: 12px;
      font-weight: 600;
      color: colors.$black;
    }

    &__customdate {
      height: 40px;
      width: 130px;

      ::ng-deep {
        .p-datepicker {
          height: inherit;
        }

        .p-inputtext {
          font-size: 14px;
        }

        .p-datepicker-dropdown {
          width: 30px;
        }
      }
    }
  }

}

.title,
.dateranges,
.calendar {
  padding: 5px 0px;
  width: 300px;
  margin: 0px 5px;
}

.calendar {
  display: flex;
  justify-content: space-between;
}

.dateranges {
  p-select {
    width: 300px;
  }
}

.datasets {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &_btn {
    background: transparent;
    color: colors.$black;
    border: 1px solid colors.$gallery_solid;
    margin: 0px 10px;
    font-size: 12px;
  }

  .active {
    background: colors.$green;
    color: colors.$white;
  }
}

// .container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     gap: 1rem;
// }

// .full_width {
//       width: 100%;
//     }

// .half_width {
//       flex: 1;
//     min-width: 0;
// }

// @media (max-width: 768px) {
//       .container {
//         flex-direction: column;
//       }

//       .half_width {
//         flex: 100%; /* Full width on small screens */
//       }
//     }
