<div class="insights">
  <header class="insights_header">
    <h3>Insights Dashboard</h3>
  </header>

  <div class="datasets">
    @for(btn of dataSetButton; track btn.id) {
    <button class="datasets_btn" [class.active]="dataSetNumber() === btn.value" pButton pRipple [label]="btn.label"
      (click)="updateDataSets(btn.value)">
    </button>
    }

    <div class="chart_header">
      <div class="dateranges">
        <p-select class="chart_header__daterange" [options]="dateRanges" optionLabel="name"
          (onChange)="onDateRangeChange($event)">
        </p-select>
      </div>
      @if(salesDateRecord() === 'Custom') {
      <div class="calendar">
        <p-datepicker class="chart_header__customdate" [(ngModel)]="customStartDate" [showIcon]="true"
          [readonlyInput]="true" placeholder="Start Date" dateFormat="mm/dd/yy" (onSelect)="onCustomDateSelect()" />

        <p-datepicker class="chart_header__customdate" [(ngModel)]="customEndDate" [showIcon]="true"
          [readonlyInput]="true" placeholder="End Date" dateFormat="mm/dd/yy" (onSelect)="onCustomDateSelect()" />
      </div>
      }
    </div>

  </div>

  <div class="chart">
    @if(chartData() && chartData().length) {
    @for(chart of chartData(); track chart.chartConfig) {
    <app-chart class="chart_chart" [type]="chart.type" [data]="chart.data" [options]="chart.chartConfigOptions"
      [width]="chart.width" [height]="chart.height" [resetZoomEffect]="chart.resetZoomEnable"
      (resetZoom)="chart.callback($event)">
      <div class="chart_header">
        <div class="title">
          <p class="chart_header__title">{{ chart.chartTitle }}</p>
          <p class="chart_header__sales">{{ computeDateRangeText() }} </p>
        </div>
      </div>
    </app-chart>
    }
    }
  </div>
</div>
