/* You can add global styles to this file, and also import other style files */

// Resetting default CSS
body,
html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
